<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.opcoach.ecf14.eap"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="cssTheme"
               value="com.opcoach.ecf14.eap.theme1">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/default.css"
            id="com.opcoach.ecf14.eap.theme1"
            label="com.opcoach.ecf14.eap.theme1">
      </theme>
   </extension>

</plugin>
